@media only screen and (max-width: 1440px) {
    .Main {
        width: 1300px;
        margin-left: 0;
    }
    .pagination {
        margin-left: -250px;
    }
    .ButtonDownloads {
        margin-left: 80px;
    }
    .img1 {
        margin-left: 50px;
    }
    .informasin {
        margin-left: 480px;
    }
    .player {
        margin-left: -340px;
    }
    .player1 {
        display: none;
    }
    .player2{
        display:none;
      }
      .player3{
        display:none;
     }
}

@media only screen and (max-width: 1024px) {
    .Main {
        width: 1000px;
        margin-left: 50px;
    }
    .pagination {
        margin-left: -350px;
        display: flex;
        flex-wrap: wrap;
    }
    .ButtonDownloads {
        margin-left: 80px;
    }
    .img1 {
        margin-left: 60px;
    }
    .informasin {
        margin-left: 380px;
    }
    .player {
        margin-left: -340px;
        display: none;
    }
    .player1 {
        margin-left: -400px;
        display: block;
        margin-top: 500px;
    }
    .text-Title {
        font-size: 30px;
        width: 650px;
    }
    .player2{
        display:none;
      }
      .player3{
        display:none;
     }
}

@media only screen and (max-width: 768px) {
    .Main {
        width: 700px;
        margin-left: 60px;
    }
    .pagination {
        margin-left: -450px;
        display: flex;
        flex-wrap: wrap;
        width: 700px;
    }
    .ButtonDownloads {
        margin-left:200px;
    }
    .player {
        margin-left: -340px;
        display: none;
    }
    .player1 {
        margin-left: -400px;
        display: block;
        margin-top: 500px;
    }
    .player2{
        display:none;
    }
    .player3{
        display:none;
     }
     .img1{
        margin-left: 60px;
     }
}

@media only screen and (max-width: 450px) {
    .Main {
        width: 400px;
        margin-left:16px;
    }
    .navbar{
        margin-top: 40px;
    }
    .pagination{
        width: 350px;
        margin-left: -470px;
   }
   .informasin{
       margin-top:20px;
       margin-left:40px;
   }
   .player {
    display: none;
   }
  .player1 {
    display: none;
  }
  .player2{
    display: block;
    margin-top: 400px;
    margin-left: -450px;
  }
  .player3{
    display:none;
 }
  .text-Title{
    width:400px;
  }
  .img1{
    margin-left: 60px;
 }
 .content{
    margin-top: 0px;
    margin-left: -375px;
    width: 20px;
 }

}
@media only screen and (max-width:320px) {
    .Main {
        margin-left:-15px;
    }
    .navbar{
        margin-top: 40px;
    }
    .pagination{
        width: 270px;
        margin-left: -470px;
   }
   .img1{
    height: 250px;
    width: 200px;
   }
   .player {
    display: none;
   }
.player1 {
    display:none;
   }
.player2{
    display:none;
 }
 .player3{
    display:block;
    margin-top: 400px;
    margin-left: -450px;
 }  
}